<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="CoyoTech">
  <meta name="keywords" content="SICEFA, SICEFA 4TO, Integradora, UTL">
  <meta name="description" content="SICEFA del cuarto cuatrimestre. Proyecto integrador">
  <link rel="icon" href="../img/favicon.png" type="image/x-icon">
  <title>SICEFA</title>

  <link rel="stylesheet" href="../css/bootstrap-5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/package/dist/sweetalert2.all.min.js">
  <link rel="stylesheet" href="../css/fontawesome-free-6.4.0-web/css/fontawesome.min.css">
  <link rel="stylesheet" href="../css/fontawesome-free-6.4.0-web/css/all.min.css">
  <link rel="stylesheet" href="../css/style_index.css">
  <link rel="stylesheet" href="../css/sistem.css">
</head>

<body>
  <header>
    <div class="general-information">
      Sicefa Sucursal
    </div>
  </header>
  <div class="container-custom">
    <div class="side-bar" id="side-bar">

      <div class="contenido-side-bar">
        <div class="user" id="user">
          <div class="foto">
            <i class="fa-solid fa-user fa-xl"></i>
            <div class="username-sidebar" id="username-sidebar">Cristian Alexander Rizo Gomez</div>
          </div>
          <div class="info-user" id="info-user">
            Puesto: Gerente <br>
            Sucursal: Central <br>
            ID sucursal: 1
          </div>
        </div>
        <div class="modulo">
          <i class="fa-solid fa-shop fa-sm"></i>
          <a href="#">Sucursales</a>
        </div>
        <div class="modulo">
          <i class="fa-solid fa-user-tie fa-lg"></i>
          <a href="./empleado.html">Empleados</a>
        </div>
        <div class="modulo">
          <i class="fa-solid fa-users fa-lg"></i>
          <a href="#">Clientes</a>
        </div>
        <div class="modulo">
          <i class="fa-solid fa-pills fa-lg"></i>
          <a href="#">Productos</a>
        </div>
        <div class="modulo">
          <i class="fa-solid fa-bag-shopping fa-lg"></i>
          <a href="./ventas.html">Ventas</a>
        </div>

        <div class="signout">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <a href="#" onclick="signOut()">Sign out</a>
        </div>
      
      
      </div>

    </div>

    <main>
      <div class="principal">
        <h1>¡Bienvenido a Sicefa Sucursal!</h1><br><br>
        <p>

          Estamos encantados de tenerte aquí. Este sistema integral te brinda acceso a cinco módulos esenciales para la gestión eficiente de tu farmacia: <br>
          <br>
          <strong>Empleados:</strong> Administra la información de tu equipo, sus roles y responsabilidades. <br>
          <strong>Clientes:</strong> Gestiona la base de datos de clientes para ofrecer un servicio personalizado. <br>
          <strong>Productos:</strong> Mantén un control completo sobre tu inventario y la información de los productos disponibles. <br>
          <strong>Sucursales:</strong> Si tienes múltiples ubicaciones, gestiona fácilmente la información de cada sucursal. <br>
          <strong>Ventas:</strong> Registra y supervisa las transacciones para un seguimiento preciso de las operaciones diarias. <br><br>
          <strong>Para acceder</strong> a cualquiera de los cinco modulos dirigete al menu lateral izquiero y posiciona tu mouse sobre el modulo al cual
          quieres acceder y presiona con clic izquiero.
        </p>
      
          
        </div>
    </main>


  </div>
  <!-- <footer>
        &copy; Sicefa Medicamos tu vida 2023 - 2023
    </footer> -->
  <script src="../css/package/dist/sweetalert2.all.min.js"></script>
  <script src="../css/bootstrap-5.3.0/dist/js/bootstrap.min.js"></script>
  <script src="../js/configuration.js"></script>
  <script src="../js/main.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
</body>

</html>